<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dk.pkkann.birthdaylist"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="dk.pkkann.birthdaylist.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="dk.pkkann.birthdaylist.AddFriendActivity"
            android:label="@string/title_activity_add_friend" >
        </activity>
        <activity
            android:name="dk.pkkann.birthdaylist.EditFriendActivity"
            android:label="@string/title_activity_edit_friend" >
        </activity>
        <activity
            android:name="dk.pkkann.birthdaylist.ChangeSortingActivity"
            android:label="@string/title_activity_change_sorting"
            android:theme="@android:style/Theme.Holo.Dialog" >
        </activity>
    </application>

</manifest>
